@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Wix%20Madefor%20Display:wght@400;500;600;700;800&display=swap");@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: helvetica_regular;font-display: swap;src: url("../assets/fonts/helvetica_regular.woff2") format("woff2");font-weight: 400;font-style: normal;}



/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #2f2f37;
  font-family: "Wix Madefor Display";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 104.6875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.btn-primary {
  display: inline-block;
  background-color: #7e6fff;
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 4rem;
  transition: all 0.3s;
  padding: 0.9375rem 1.25rem;
}
.title {
  line-height: 131%;
  font-weight: 600;
}
.title span {
  color: #7e6fff;
}
.btn-bd {
  color: #7e6fff;
  border: 0.0625rem solid #7e6fff;
  padding: 1.0625rem 1.03125rem;
  display: inline-block;
  border-radius: 2.25rem;
  font-weight: 500;
  transition: all 0.3s;
}
.btn-page {
  position: relative;
  display: inline-block;
  padding: 1.1875rem 2.875rem;
  background-color: #7e6fff;
  font-weight: 500;
  border-radius: 4rem;
  color: #fff;
  overflow: hidden;
}
.btn-page::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(130deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 100%);
  transform: translateX(100%) rotate(25deg);
  transition: none;
  pointer-events: none;
}
.btn-page:hover::before {
  animation: shine 0.8s ease forwards;
}
@keyframes shine {
  0% {
    transform: translateX(100%) rotate(25deg);
  }
  100% {
    transform: translateX(-100%) rotate(25deg);
  }
}
.--tab-active {
  background-color: #fff !important;
  outline: 0.0625rem solid #7e6fff;
}


/* Generated by vite-plugin-svg-spritemap */
.tabs__navigation {
  display: flex;
}
.tabs__title {
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}
.tabs__title.--tab-active {
  border: 0.0625rem solid #000;
}
.tabs__content {
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
}


/* Generated by vite-plugin-svg-spritemap */
[data-fls-showmore-button] span:last-child {
  display: none;
}
.--showmore-active [data-fls-showmore-button] span {
  display: none;
}
.--showmore-active [data-fls-showmore-button] span:last-child {
  display: block;
}


/* Generated by vite-plugin-svg-spritemap */
.menu {
  display: flex;
  align-items: center;
}
.menu__link {
  font-weight: 500;
  transition: all 0.3s;
}
.icon-menu {
  display: none;
}
.menu__langs {
  margin-bottom: 4.25rem;
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.mob-menu {
  background-color: #7e6fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 2.5rem 1.875rem 1.375rem 1.375rem;
  color: #fff;
}
.mob-menu__lang {
  font-size: 1.125rem;
  font-weight: 600;
}
.mob-menu__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.6875rem;
  margin-bottom: 2.1875rem;
}
.mob-menu__time {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.mob-menu__time::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/clock.svg") center/cover no-repeat;
}
.mob-menu__loc {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.mob-menu__loc::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/lca.svg") center/cover no-repeat;
}
.mob-menu__phone {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.mob-menu__phone::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/call.svg") center/cover no-repeat;
}
.mob-menu__phone a:not(:last-child) {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.mob-menu__phone a:not(:last-child)::after {
  content: "|";
}
.mob-menu__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.9375rem;
}
.mob-menu__mark {
  display: flex;
  align-items: center;
}
.mob-menu__score {
  font-size: 0.875rem;
  background: url("../assets/img/header/mark_bg.webp") 0.3125rem 0rem no-repeat;
  padding: 0.75rem;
  color: #7e6fff;
  font-weight: 700;
}
.mob-menu__social {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
.mob-menu__link img {
  width: 3.125rem;
  height: 3.125rem;
}
.mob-menu__desc {
  max-width: 18.125rem;
  line-height: 1.31;
}
.menu__btn {
  background-color: #fff;
  padding: 0.6875rem;
  border-radius: 0.375rem;
}


/* Generated by vite-plugin-svg-spritemap */
.header {
  margin-bottom: 4.375rem;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header__top {
  font-size: 0.875rem;
  background-color: #7e6fff;
  color: #fff;
  margin-bottom: 2.0625rem;
}
.header__top-wrapper {
  max-width: 104.6875rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.4375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  gap: 0.625rem;
}
.header__mark {
  display: flex;
  align-items: center;
}
.header__score {
  font-size: 0.875rem;
  background: url("../assets/img/header/mark_bg.webp") 0.3125rem 0rem no-repeat;
  padding: 0.75rem;
  color: #7e6fff;
  font-weight: 700;
}
.header__social {
  display: flex;
  align-items: center;
}
.header__link {
  transition: all 0.3s;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__time {
  display: flex;
  align-items: center;
}
.header__time::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/clock.svg") center/cover no-repeat;
}
.header__locate {
  display: flex;
  align-items: center;
}
.header__locate::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/lca.svg") center/cover no-repeat;
}
.header__call {
  display: flex;
  align-items: center;
}
.header__call::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../assets/img/icons/call.svg") center/cover no-repeat;
}
.header__call a:not(:last-child) {
  display: flex;
  align-items: center;
}
.header__call a:not(:last-child)::after {
  content: "|";
}
.header__langs {
  display: flex;
  align-items: center;
}
.header__lang {
  font-size: 1.125rem;
  font-weight: 600;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Generated by vite-plugin-svg-spritemap */


/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0rem 0rem;
}
.button--fw {
  width: 100%;
}


/* Generated by vite-plugin-svg-spritemap */


/* Generated by vite-plugin-svg-spritemap */
.page__calc {
  background-color: #f4f4fc;
}
.hero__container {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero__title {
  max-width: 48.8125rem;
}
.hero__text {
  font-size: 1.375rem;
  max-width: 48.8125rem;
  line-height: 1.31;
}
.hero__results {
  display: flex;
  align-items: center;
  gap: 1.3125rem;
}
.hero__column {
  background-color: #f8f8f8;
  padding: 0.75rem 0.375rem 0.75rem 1.1875rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.9375rem rgba(125, 125, 125, 0.15);
}
.hero__result {
  margin-bottom: 0.3125rem;
  font-size: 3.625rem;
  font-weight: 600;
  color: #7e6fff;
}
.hero__desc {
  color: #7e6fff;
  line-height: 1.31;
  max-width: 13.9375rem;
  display: flex;
  align-items: center;
}
.hero__desc a {
  transition: all 0.3s;
}
.calc__title {
  text-align: center;
}
.calc__title span {
  color: #2f2f37;
  font-weight: 700;
}
.calc__subtitle {
  text-align: center;
  text-align: center;
  line-height: 1.21;
  margin-bottom: 6.25rem;
}
.quiz__asks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: default;
}
.quiz__ask {
  padding: 0.625rem 1.5rem;
  color: #7e6fff;
}
.quiz__ask.act {
  border-bottom: 0.0625rem solid #7e6fff;
}
.quiz__title {
  font-weight: 600;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
.quiz__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
  margin-bottom: 1.6875rem;
}
.quiz__var {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.9375rem 0.9375rem 0.5625rem 0.875rem;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 1.4;
}
.quiz__var input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.quiz__var img {
  margin-bottom: 2.5625rem;
}
.quiz .quiz__var:has(input[type=radio]:checked) {
  outline: 0.0625rem solid #7e6fff;
}
.quiz__business {
  color: #000;
  font-size: 0.9375rem;
  padding: 0.875rem 0.75rem;
  width: 28.125rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.875rem;
}
.quiz__business::placeholder {
  color: #000;
}
.quiz__row-radio {
  margin-bottom: 2.8125rem;
}
.quiz .quiz__var-radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.3125rem;
  user-select: none;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.3;
}
.quiz .quiz__var-radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.8125rem;
  height: 0.8125rem;
  border: 0.0625rem solid #7e6fff;
  background-color: #e5e3fc;
  border-radius: 50%;
  box-sizing: border-box;
}
.quiz .quiz__var-radio span {
  position: relative;
}
.quiz .quiz__var-radio span::before {
  content: "";
  position: absolute;
  left: -1.125rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #7e6fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.quiz .quiz__var-radio > .quiz__input-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}
.quiz .quiz__var-radio > .quiz__input-radio:checked + span::before {
  opacity: 1;
}
.quiz .quiz__var-check {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
}
.quiz .quiz__var-check input {
  position: absolute;
  opacity: 0;
}
.quiz .quiz__var-check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.8125rem;
  height: 0.8125rem;
  border: 0.0625rem solid #7e6fff;
  background: #e5e3fc;
  border-radius: 0.1875rem;
}
.quiz .quiz__var-check::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.3125rem;
  height: 0.5625rem;
  border-right: 0.125rem solid #7e6fff;
  border-bottom: 0.125rem solid #7e6fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.quiz .quiz__var-check:has(input:checked)::after {
  opacity: 1;
}
.quiz .quiz__var-check span {
  color: #7e6fff;
}
.quiz__row-check {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2.8125rem;
}
.quiz .quiz__var-check {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  user-select: none;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.3;
}
.quiz .quiz__var-check .quiz__input-check {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  cursor: pointer;
}
.quiz .quiz__var-check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.8125rem;
  height: 0.8125rem;
  border: 0.0625rem solid #7e6fff;
  background-color: #e5e3fc;
  border-radius: 0.1875rem;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}
.quiz .quiz__var-check::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.3125rem;
  height: 0.5625rem;
  border-right: 0.125rem solid #7e6fff;
  border-bottom: 0.125rem solid #7e6fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.quiz__input-check:checked + .quiz .quiz__var-check::after {
  opacity: 1;
}
.quiz__next {
  background-color: #7e6fff;
  color: #fff;
  font-family: "Manrope";
  box-shadow: 0 0.3125rem 0.3125rem #2a2367;
  padding: 0.625rem 2.125rem;
  border-radius: 4rem;
  transition: all 0.3s;
}
.quiz__next:disabled {
  opacity: 0.5;
  cursor: default;
}
.quiz__final {
  background-color: #7e6fff;
  color: #fff;
  display: flex !important;
  align-items: end;
  padding: 6.6875rem 5.3125rem;
  border-radius: 1.25rem;
}
.quiz__final-title {
  font-weight: 600;
  text-wrap: nowrap;
}
.quiz__final-subtitle {
  max-width: 32.5rem;
  font-weight: 500;
}
.quiz__item-inp {
  display: flex;
  flex-direction: column;
}
.quiz__item-inp:not(:last-child) {
  margin-bottom: 1rem;
}
.quiz__item-inp span {
  font-size: 0.875rem;
  padding-left: 1.125rem;
  margin-bottom: 0.3125rem;
}
.quiz__inp {
  background-color: none;
  border: 0.0625rem solid #fff;
  width: 21.75rem;
  height: 3.625rem;
  border-radius: 3rem;
  color: #fff;
  padding: 0.9375rem 1.25rem;
}
.quiz__inp::placeholder {
  color: #fff;
}
.quiz__item-agree {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  user-select: none;
  font-size: 1rem;
  gap: 0.5rem;
  max-width: 21.75rem;
  margin-bottom: 2.5rem;
}
.quiz__item-agree_inp {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.quiz__item-agree::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #7e6fff;
  background-color: #e5e3fc;
  border-radius: 0.1875rem;
  box-sizing: border-box;
  transition: background-color 0.2s, border-color 0.2s;
}
.quiz__item-agree::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.3125rem;
  height: 0.5625rem;
  border-right: 0.125rem solid #7e6fff;
  border-bottom: 0.125rem solid #7e6fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.quiz__item-agree:has(.quiz__item-agree_inp:checked)::after {
  opacity: 1;
}
.quiz__item-button {
  color: #7e6fff;
  background-color: #fff;
  font-weight: 500;
  font-family: "Manrope";
  padding: 0.875rem 2.125rem;
  display: inline-block;
  box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.3);
  border-radius: 4rem;
  transition: all 0.3s;
}
.info-calc {
  background-color: #fff;
  box-shadow: 0 0 0.3125rem rgba(209, 209, 209, 0.25);
  border-radius: 1.5rem;
  padding: 0rem 1.625rem;
  padding-bottom: 2.875rem;
}
.info-calc__img {
  text-align: center;
  margin-bottom: 1.8125rem;
}
.info-calc__text {
  max-width: 29.8125rem;
  text-align: center;
  color: #000;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}
.info-calc__text p:not(:last-child) {
  margin-bottom: 1.25rem;
}
.info-calc__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.info-calc__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.info-calc__icon {
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
.info-calc__heading {
  max-width: 15.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0.625rem;
}
.info-calc__subheading {
  max-width: 17.25rem;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 0.625rem;
  line-height: 1.21;
}
.info-calc__btn {
  text-decoration: underline;
  color: #7e6fff;
  font-size: 0.875rem;
  font-weight: 600;
}
.portfolio-small__title {
  text-align: center;
  margin-bottom: 3.75rem;
  font-weight: 500;
  max-width: 87.5rem;
}
.portfolio-small__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.portfolio-small__more {
  color: #7e6fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid #7e6fff;
  border-radius: 4rem;
  display: inline-block;
  align-items: start;
  transition: all 0.3s;
}
.portfolio-small__button {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #7e6fff;
  padding: 0.625rem 0.75rem;
  border-radius: 4rem;
  display: inline-block;
  align-items: start;
  transition: all 0.3s;
}
.portfolio__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0625rem;
}
.portfolio__column {
  flex: 0 1 calc(33.3333333333% - 0.70833333333125rem);
  padding: 0.5rem;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 1.5rem;
  min-height: 100%;
  padding: 1.25rem;
  align-items: start;
}
.item-portfolio__img {
  position: relative;
  margin-bottom: 1.25rem;
}
.item-portfolio__img img {
  border-radius: 1rem;
}
.item-portfolio__tags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}
.item-portfolio__tag {
  color: #fff;
  font-weight: 600;
  background-color: #7e6fff;
  padding: 0.625rem;
  border-radius: 2.5rem;
}
.item-portfolio__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.item-portfolio__description {
  max-width: 30.9375rem;
  line-height: 1.31;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
.item-portfolio__btn {
  color: #7e6fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.625rem 0.75rem;
  border: 0.0625rem solid #7e6fff;
  border-radius: 4rem;
  display: inline-block;
  align-items: start;
  transition: all 0.3s;
}
.decissions__subtitle {
  margin-bottom: 4.1875rem;
  font-weight: 500;
  font-size: 2.25rem;
  max-width: 38.1875rem;
  line-height: 1.35;
}
.decissions__subtitle span {
  color: #7e6fff;
}
.decissions__navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  grid-template-columns: minmax(9.375rem, 1fr) minmax(9.375rem, 1fr) minmax(9.375rem, 1fr) minmax(9.375rem, 1fr) minmax(9.375rem, 1fr);
}
.decissions__title {
  display: flex;
  flex-direction: column;
  max-width: 21.75rem;
  padding: 1.0625rem 1.25rem 1.4375rem 1.25rem;
  background-color: #f6f6f6;
  align-items: start;
  border-radius: 0.75rem;
  text-align: left;
  line-height: 1.31;
  height: 7.5625rem;
}
.decissions__title img {
  width: 1.5rem;
  margin-bottom: 0.3125rem;
  height: 1.5rem;
}
.item-decissions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.item-decissions__content {
  height: 22.6875rem;
  overflow: auto;
  padding-right: 6.25rem;
}
.item-decissions__content::-webkit-scrollbar {
  width: 0.5rem;
}
.item-decissions__content::-webkit-scrollbar-thumb {
  background-color: #7e6fff;
  border-radius: 0.25rem;
}
.item-decissions__content::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
}
.item-decissions__title {
  color: #7e6fff;
  max-width: 21.8125rem;
  line-height: 1.31;
  font-size: 1.375rem;
  font-weight: 500;
}
.item-decissions__label {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.4375rem;
}
.item-decissions__text {
  max-width: 34.5rem;
  line-height: 1.31;
}
.item-decissions__image {
  text-align: center;
  width: 58.0625rem;
  height: 48.8125rem;
  background: url("../assets/img/decissions/bg.webp") center/cover no-repeat;
}
.item-decissions__image img {
  max-width: 100%;
}
.banner__container {
  display: flex;
  background-color: #7e6fff;
  border-radius: 1.75rem;
  padding: 0.625rem;
  gap: 2.5rem;
  align-items: center;
}
.banner__title {
  color: #fff;
  max-width: 62.25rem;
  line-height: 1.35;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}
.form-banner {
  display: flex;
  flex-direction: column;
  color: #fff;
  row-gap: 1.625rem;
}
.form-banner__top {
  display: flex;
  align-items: end;
  gap: 1.875rem;
}
.form-banner__inputs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-banner__agree {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  text-align: left;
}
.form-banner__radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  font-size: 1rem;
  user-select: none;
  gap: 0.1875rem;
  text-align: left;
}
.form-banner__radio a {
  text-decoration: underline;
}
.form-banner__radio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid #7e6fff;
  background-color: #e5e3fc;
  border-radius: 0.1875rem;
  transition: background-color 0.2s, border-color 0.2s;
}
.form-banner__radio::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.3125rem;
  height: 0.5625rem;
  border-right: 0.125rem solid #7e6fff;
  border-bottom: 0.125rem solid #7e6fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.form-banner__radio:has(.form-banner__agree:checked)::after {
  opacity: 1;
}
.form-banner__label {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.form-banner__label input {
  border: 0.0625rem solid #fff;
  height: 3.625rem;
  color: #fff;
  width: 19.875rem;
  border-radius: 3rem;
  padding: 1.25rem 0.9375rem;
}
.form-banner__label input::placeholder {
  color: #fff;
}
.form-banner__label span {
  padding-left: 0.5rem;
}
.form-banner__button {
  display: inline-block;
  background-color: #fff;
  color: #7e6fff;
  font-weight: 500;
  padding: 1.1875rem 2.875rem;
  box-shadow: 0 0.3125rem 0.3125rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  border-radius: 4rem;
}
.services__title {
  text-align: center;
}
.services__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8125rem;
  row-gap: 1rem;
}
.services__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.212);
  max-width: 33.625rem;
  padding: 1.625rem 5.625rem 1.875rem 1.875rem;
  border-radius: 1.75rem;
}
.services__img {
  margin-bottom: 2.125rem;
}
.services__img img {
  filter: drop-shadow(0 0 0.3125rem rgba(0, 0, 0, 0.534));
}
.services__label {
  max-width: 26.125rem;
  font-weight: 600;
  line-height: 1.31;
}
.info__title {
  text-align: center;
  max-width: 60.625rem;
  margin: 0 auto;
  font-weight: 500;
}
.info__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.625rem;
  margin-bottom: 4.0625rem;
}
.info__btn {
  padding: 1.1875rem 2.375rem;
}
.info__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  row-gap: 2.3125rem;
}
.info__labling {
  max-width: 31.6875rem;
  line-height: 1.31;
}
.info__text {
  max-width: 41.375rem;
  line-height: 1.31;
}
.info__nav {
  display: flex;
  align-items: center;
  gap: 3.4375rem;
  row-gap: 2.75rem;
}
.info__kp {
  padding: 0.9375rem 3.34375rem;
}
.info__video {
  max-width: 20.375rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.31;
  text-align: left;
}
.info__video img {
  transition: all 0.3s;
}
@media (max-width: 93.75em){
  .header__mark {
    display: none;
  }
  .header__link img {
    width: 1.5rem;
  }
  .header__time::before {
    display: none;
  }
  .header__locate::before {
    display: none;
  }
  .header__call::before {
    display: none;
  }
}
@media (max-width: 90.625em){
  .header__social {
    gap: 0.3125rem;
  }
  .header__info {
    gap: 0.625rem;
  }
  .header__time {
    gap: 6.25e-8rem;
  }
  .header__locate {
    gap: 6.25e-8rem;
  }
  .header__call {
    gap: 6.25e-8rem;
  }
  .header__call a:not(:last-child) {
    gap: 6.25e-8rem;
  }
  .header__langs {
    gap: 0.3125rem;
  }
}
@media (max-width: 81.25em){
  .header__top {
    font-size: 0.75rem;
  }
  .header__link img {
    width: 1.25rem;
  }
  .header__lang {
    font-size: 0.75rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 29.99875em){
  .quiz__var {
    min-width: 11.0625rem;
    min-height: 15.625rem;
  }
}
@media (max-width: 61.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em){
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: #fff;
    z-index: 10000;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    margin-bottom: 2.4375rem;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 2.125rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.3125rem;
    z-index: 100005;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #7e6fff;
    border-radius: 0.375rem;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header {
    padding-top: 1.125rem;
  }
  .header__top {
    display: none;
  }
  .header__bottom {
    background-color: #7e6fff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding: 0.3125rem 0.875rem;
    border-radius: 0.5rem;
  }
  .header__logo {
    display: none;
  }
  .header__button {
    display: none;
  }
  .hero__container {
    flex-direction: column;
    text-align: center;
  }
  .calc__subtitle {
    margin-bottom: 2rem;
  }
  .quiz__ask {
    padding: 0.625rem;
  }
  .quiz__title {
    font-weight: 500;
    text-align: center;
  }
  .quiz__final {
    flex-direction: column;
  }
  .info-calc {
    display: none;
  }
  .portfolio__column {
    flex: 0 1 calc(50% - 0.70833333333125rem);
  }
  .page__decissions {
    margin-bottom: 5rem;
  }
  .decissions__navigation {
    margin-bottom: 1rem;
  }
  .item-decissions {
    flex-direction: column;
  }
  .banner__container {
    flex-direction: column;
  }
  .banner__img {
    margin-top: -6.25rem;
    margin-bottom: 1.25rem;
  }
  .banner__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-banner__top {
    flex-direction: column;
    align-items: center;
  }
  .form-banner__inputs {
    flex-direction: column;
  }
  .form-banner__input {
    width: 100%;
  }
  .services__row {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__column {
    padding: 1.625rem 1.1875rem 1.875rem 1.375rem;
  }
  .info {
    text-align: center;
  }
  .info__buttons {
    flex-direction: column;
  }
  .info__btn {
    width: 100%;
    text-align: center;
  }
  .info__wrapper {
    flex-direction: column;
  }
  .info__content {
    order: 0;
  }
  .info__nav {
    flex-direction: column;
  }
  .info__img {
    order: 1;
  }
}
@media (max-width: 61.9375rem){
  .decissions__navigation {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }
}
@media (max-width: 61.9375em){
  .info-calc__text {
    font-size: 0.875rem;
  }
}
@media (max-width: 47.99875em){
  .hero__results {
    flex-direction: column;
  }
  .hero__column {
    position: relative;
  }
  .hero__column {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .hero__desc a {
    position: absolute;
    top: 50%;
    right: 1.875rem;
  }
  .quiz__row {
    grid-template-columns: repeat(2, 1fr);
  }
  .quiz__row-check {
    grid-template-columns: 1fr;
  }
  .quiz__final {
    padding: 4.1875rem 0.75rem;
    text-align: center;
  }
  .quiz__final-title {
    text-wrap: wrap;
  }
  .quiz__inp {
    width: 100%;
  }
  .item-decissions__image {
    max-width: 100%;
  }
}
@media (max-width: 34.375em){
  .portfolio__column {
    flex: 0 1 calc(100% - 0.70833333333125rem);
  }
}
@media (max-width: 29.99875em){
  .quiz__item-button {
    width: 100%;
  }
  .services__row {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 20em){
  .title {
    font-size: 1.75rem;
  }
  .page__hero {
    margin-bottom: 5.1875rem;
  }
  .page__calc {
    padding-top: 4.25rem;
  }
  .page__calc {
    padding-bottom: 4.25rem;
  }
  .page__calc {
    margin-bottom: 4rem;
  }
  .hero__title {
    margin-bottom: 0.6875rem;
  }
  .hero__text {
    margin-bottom: 1.5rem;
  }
  .hero__btn {
    margin-bottom: 2.125rem;
  }
  .calc__title {
    margin-bottom: 0.6875rem;
  }
  .calc__subtitle {
    font-size: 0.875rem;
  }
  .quiz__asks {
    margin-bottom: 1.375rem;
  }
  .quiz__title {
    font-size: 1.125rem;
  }
  .quiz__title {
    margin-bottom: 1.375rem;
  }
  .quiz__business {
    margin-bottom: 1.75rem;
  }
  .quiz__final-title {
    font-size: 2rem;
  }
  .quiz__final-title {
    margin-bottom: 1.0625rem;
  }
  .quiz__final-subtitle {
    font-size: 1rem;
  }
  .quiz__final-subtitle {
    margin-bottom: 1.875rem;
  }
  .quiz__item-agree {
    font-size: 0.875rem;
  }
  .page__small-portfolio {
    margin-bottom: 5rem;
  }
  .portfolio-small__title {
    font-size: 1.75rem;
  }
  .portfolio-small__row {
    margin-bottom: 3.375rem;
  }
  .decissions__label {
    margin-bottom: 1.0625rem;
  }
  .item-decissions__title {
    margin-bottom: 1.25rem;
  }
  .item-decissions__text {
    margin-bottom: 1.25rem;
  }
  .item-decissions__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .banner {
    margin-bottom: 5rem;
  }
  .banner__title {
    font-size: 1.375rem;
  }
  .page__services {
    margin-bottom: 5rem;
  }
  .services__title {
    margin-bottom: 2.3125rem;
  }
  .services__label {
    font-size: 1.25rem;
  }
  .info__title {
    margin-bottom: 2.25rem;
  }
  .info__title {
    font-size: 1.75rem;
  }
  .info__labling {
    font-size: 1.5rem;
  }
  .info__labling {
    margin-bottom: 1.875rem;
  }
  .info__heading {
    font-size: 1.25rem;
  }
  .info__heading {
    margin-bottom: 0.75rem;
  }
  .info__text {
    font-size: 1rem;
  }
  .info__text {
    margin-bottom: 1.125rem;
  }
  .info__text {
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 104.6875em){
  .title {
    font-size: clamp( 1.75rem , 1.45479704796875rem  +  1.4760147601vw , 3rem );
  }
  .page__hero {
    margin-bottom: clamp( 5.1875rem , 4.62661439114375rem  +  2.8044280443vw , 7.5625rem );
  }
  .page__calc {
    padding-top: clamp( 4.25rem , 3.33487084870625rem  +  4.5756457565vw , 8.125rem );
  }
  .page__calc {
    padding-bottom: clamp( 4.25rem , 3.65959409594375rem  +  2.9520295203vw , 6.75rem );
  }
  .page__calc {
    margin-bottom: clamp( 4rem , 2.9815498155rem  +  5.0922509225vw , 8.3125rem );
  }
  .hero__title {
    margin-bottom: clamp( 0.6875rem , 0.3184963099625rem  +  1.8450184502vw , 2.25rem );
  }
  .hero__text {
    margin-bottom: clamp( 1.5rem , 1.32287822878125rem  +  0.8856088561vw , 2.25rem );
  }
  .hero__btn {
    margin-bottom: clamp( 2.125rem , 0.899907749075rem  +  6.1254612546vw , 7.3125rem );
  }
  .calc__title {
    margin-bottom: clamp( 0.6875rem , 0.48085793358125rem  +  1.0332103321vw , 1.5625rem );
  }
  .calc__subtitle {
    font-size: clamp( 0.875rem , 0.7273985239875rem  +  0.7380073801vw , 1.5rem );
  }
  .quiz__asks {
    margin-bottom: clamp( 1.375rem , 0.78459409594375rem  +  2.9520295203vw , 3.875rem );
  }
  .quiz__title {
    font-size: clamp( 1.125rem , 1.0069188191875rem  +  0.5904059041vw , 1.625rem );
  }
  .quiz__title {
    margin-bottom: clamp( 1.375rem , 1.16835793358125rem  +  1.0332103321vw , 2.25rem );
  }
  .quiz__business {
    margin-bottom: clamp( 1.75rem , 1.42527675276875rem  +  1.6236162362vw , 3.125rem );
  }
  .quiz__final-title {
    font-size: clamp( 2rem , 1.763837638375rem  +  1.1808118081vw , 3rem );
  }
  .quiz__final-title {
    margin-bottom: clamp( 1.0625rem , 0.97393911439375rem  +  0.442804428vw , 1.4375rem );
  }
  .quiz__final-subtitle {
    font-size: clamp( 1rem , 0.8819188191875rem  +  0.5904059041vw , 1.5rem );
  }
  .quiz__final-subtitle {
    margin-bottom: clamp( 1.875rem , 1.69787822878125rem  +  0.8856088561vw , 2.625rem );
  }
  .quiz__item-agree {
    font-size: clamp( 0.875rem , 0.8454797048rem  +  0.147601476vw , 1rem );
  }
  .page__small-portfolio {
    margin-bottom: clamp( 5rem , 4.261992619925rem  +  3.6900369004vw , 8.125rem );
  }
  .portfolio-small__title {
    font-size: clamp( 1.75rem , 1.513837638375rem  +  1.1808118081vw , 2.75rem );
  }
  .portfolio-small__row {
    margin-bottom: clamp( 3.375rem , 3.28643911439375rem  +  0.442804428vw , 3.75rem );
  }
  .decissions__label {
    margin-bottom: clamp( 1.0625rem , 0.85585793358125rem  +  1.0332103321vw , 1.9375rem );
  }
  .item-decissions__title {
    margin-bottom: clamp( 1.25rem , 1.08763837638125rem  +  0.8118081181vw , 1.9375rem );
  }
  .item-decissions__text {
    margin-bottom: clamp( 1.25rem , 1.08763837638125rem  +  0.8118081181vw , 1.9375rem );
  }
  .item-decissions__text p:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4773985239875rem  +  0.7380073801vw , 1.25rem );
  }
  .banner {
    margin-bottom: clamp( 5rem , 4.261992619925rem  +  3.6900369004vw , 8.125rem );
  }
  .banner__title {
    font-size: clamp( 1.375rem , 1.19787822878125rem  +  0.8856088561vw , 2.125rem );
  }
  .page__services {
    margin-bottom: clamp( 5rem , 4.261992619925rem  +  3.6900369004vw , 8.125rem );
  }
  .services__title {
    margin-bottom: clamp( 2.3125rem , 1.82541512915rem  +  2.4354243542vw , 4.375rem );
  }
  .services__label {
    font-size: clamp( 1.25rem , 1.16143911439375rem  +  0.442804428vw , 1.625rem );
  }
  .info__title {
    margin-bottom: clamp( 2.25rem , 2.1319188191875rem  +  0.5904059041vw , 2.75rem );
  }
  .info__title {
    font-size: clamp( 1.75rem , 1.45479704796875rem  +  1.4760147601vw , 3rem );
  }
  .info__labling {
    font-size: clamp( 1.5rem , 1.3819188191875rem  +  0.5904059041vw , 2rem );
  }
  .info__labling {
    margin-bottom: clamp( 1.875rem , 1.7273985239875rem  +  0.7380073801vw , 2.5rem );
  }
  .info__heading {
    font-size: clamp( 1.25rem , 1.16143911439375rem  +  0.442804428vw , 1.625rem );
  }
  .info__heading {
    margin-bottom: clamp( 0.75rem , 0.69095940959375rem  +  0.295202952vw , 1rem );
  }
  .info__text {
    font-size: clamp( 1rem , 0.94095940959375rem  +  0.295202952vw , 1.25rem );
  }
  .info__text {
    margin-bottom: clamp( 1.125rem , 1.03643911439375rem  +  0.442804428vw , 1.5rem );
  }
  .info__text {
    margin-bottom: clamp( 2.25rem , 2.1171586715875rem  +  0.6642066421vw , 2.8125rem );
  }
}
@media (min-width: 47.99875em){
  .item-decissions__image {
    width: 58.0625rem;
    height: 48.8125rem;
  }
}
@media (min-width: 61.9375em) and (max-width: 75em){
  .info-calc__text {
    font-size: clamp( 0.875rem , -0.3104066985625rem  +  1.9138755981vw , 1.125rem );
  }
}
@media (min-width: 61.99875em) and (min-width: 87.5em){
  .menu__list {
    gap: 2.125rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 75em){
  .calc__content {
    gap: 6.4375rem;
  }
}
@media (min-width: 61.99875em) and (min-width: 62em) and (max-width: 87.5em){
  .menu__list {
    gap: clamp( 1.0625rem , -1.52083333333125rem  +  4.1666666667vw , 2.125rem );
  }
}
@media (min-width: 61.99875em) and (min-width: 61.9375em) and (max-width: 75em){
  .calc__content {
    gap: clamp( 0.625rem , -26.935705741625rem  +  44.4976076555vw , 6.4375rem );
  }
}
@media (min-width: 61.99875em) and (max-width: 62em){
  .menu__list {
    gap: 1.0625rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 61.9375em){
  .calc__content {
    gap: 0.625rem;
  }
}
@media (min-width: 61.99875em){
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__langs {
    display: none;
  }
  .menu__mob {
    display: none;
  }
  .header .header__logo-mob {
    display: none;
  }
  .calc__content {
    display: flex;
    align-items: center;
  }
  .quiz {
    max-width: 62.75rem;
  }
  .banner__container {
    height: 22.75rem;
  }
}
@media (min-width: 69.375em){
  .info-calc__img {
    margin-top: -6.25rem;
  }
}
@media (min-width: 75em){
  .info-calc__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 90.625em) and (max-width: 93.75em){
  .header__social {
    gap: clamp( 0.3125rem , -8.75rem  +  10vw , 0.625rem );
  }
  .header__info {
    gap: clamp( 0.625rem , -41.0625rem  +  46vw , 2.0625rem );
  }
  .header__time {
    gap: clamp( 6.25e-8rem , -18.124998125rem  +  19.999998vw , 0.625rem );
  }
  .header__locate {
    gap: clamp( 6.25e-8rem , -18.124998125rem  +  19.999998vw , 0.625rem );
  }
  .header__call {
    gap: clamp( 6.25e-8rem , -18.124998125rem  +  19.999998vw , 0.625rem );
  }
  .header__call a:not(:last-child) {
    gap: clamp( 6.25e-8rem , -18.124998125rem  +  19.999998vw , 0.625rem );
  }
  .header__langs {
    gap: clamp( 0.3125rem , -26.875rem  +  30vw , 1.25rem );
  }
}
@media (min-width: 93.75em){
  .header__social {
    gap: 0.625rem;
  }
  .header__info {
    gap: 2.0625rem;
  }
  .header__time {
    gap: 0.625rem;
  }
  .header__locate {
    gap: 0.625rem;
  }
  .header__call {
    gap: 0.625rem;
  }
  .header__call a:not(:last-child) {
    gap: 0.625rem;
  }
  .header__langs {
    gap: 1.25rem;
  }
}
@media (min-width: 104.6875em){
  .title {
    font-size: 3rem;
  }
  .page__hero {
    margin-bottom: 7.5625rem;
  }
  .page__calc {
    padding-top: 8.125rem;
  }
  .page__calc {
    padding-bottom: 6.75rem;
  }
  .page__calc {
    margin-bottom: 8.3125rem;
  }
  .hero__title {
    margin-bottom: 2.25rem;
  }
  .hero__text {
    margin-bottom: 2.25rem;
  }
  .hero__btn {
    margin-bottom: 7.3125rem;
  }
  .calc__title {
    margin-bottom: 1.5625rem;
  }
  .calc__subtitle {
    font-size: 1.5rem;
  }
  .quiz__asks {
    margin-bottom: 3.875rem;
  }
  .quiz__title {
    font-size: 1.625rem;
  }
  .quiz__title {
    margin-bottom: 2.25rem;
  }
  .quiz__business {
    margin-bottom: 3.125rem;
  }
  .quiz__final-title {
    font-size: 3rem;
  }
  .quiz__final-title {
    margin-bottom: 1.4375rem;
  }
  .quiz__final-subtitle {
    font-size: 1.5rem;
  }
  .quiz__final-subtitle {
    margin-bottom: 2.625rem;
  }
  .quiz__item-agree {
    font-size: 1rem;
  }
  .page__small-portfolio {
    margin-bottom: 8.125rem;
  }
  .portfolio-small__title {
    font-size: 2.75rem;
  }
  .portfolio-small__row {
    margin-bottom: 3.75rem;
  }
  .decissions__label {
    margin-bottom: 1.9375rem;
  }
  .item-decissions__title {
    margin-bottom: 1.9375rem;
  }
  .item-decissions__text {
    margin-bottom: 1.9375rem;
  }
  .item-decissions__text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .banner {
    margin-bottom: 8.125rem;
  }
  .banner__title {
    font-size: 2.125rem;
  }
  .page__services {
    margin-bottom: 8.125rem;
  }
  .services__title {
    margin-bottom: 4.375rem;
  }
  .services__label {
    font-size: 1.625rem;
  }
  .info__title {
    margin-bottom: 2.75rem;
  }
  .info__title {
    font-size: 3rem;
  }
  .info__labling {
    font-size: 2rem;
  }
  .info__labling {
    margin-bottom: 2.5rem;
  }
  .info__heading {
    font-size: 1.625rem;
  }
  .info__heading {
    margin-bottom: 1rem;
  }
  .info__text {
    font-size: 1.25rem;
  }
  .info__text {
    margin-bottom: 1.5rem;
  }
  .info__text {
    margin-bottom: 2.8125rem;
  }
}
@media (any-hover: hover){
  .btn-primary:hover {
    box-shadow: 0 0.25rem 0.25rem #2a2367;
  }
  .btn-bd:hover {
    background-color: #7e6fff;
    color: #fff;
  }
  .menu__link:hover {
    color: #7e6fff;
  }
  .header__link:hover {
    transform: scale(1.1);
  }
  .header__call a:hover {
    text-decoration: underline;
  }
  .header__lang:hover {
    text-decoration: underline;
  }
  .hero__desc a:hover {
    transform: scale(1.1);
  }
  .quiz__next:hover {
    box-shadow: none;
  }
  .quiz__item-button:hover {
    box-shadow: none;
  }
  .info-calc__btn:hover {
    text-decoration: none;
  }
  .portfolio-small__more:hover {
    background-color: #7e6fff;
    color: #fff;
  }
  .portfolio-small__button:hover {
    background-color: #fff;
    outline: 0.0625rem solid #7e6fff;
    color: #7e6fff;
  }
  .item-portfolio__btn:hover {
    background-color: #7e6fff;
    color: #fff;
  }
  .form-banner__radio a:hover {
    text-decoration: none;
  }
  .form-banner__button:hover {
    box-shadow: none;
  }
  .info__video:hover img {
    transform: scale(1.05);
  }
}